/* landing page specific layout */

#root {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

.landing-wrapper {
    min-height: 100vh;
    justify-content: space-between;
    background-image: url('/images/joochiat1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

.landing-box {
    text-align: center;
}

.top-nav {
    height: 80px;
    width: 100%;
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.button-row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo-top-nav {
    font-size: 1.4rem;
    font-weight: bolder;
}

.btn-dark {
    background-color: rgb(35, 47, 70);
    color: white;
}