.profile-page-wrapper {
    margin-left: 14%; /* todo - w/ layout/sidebar trying to find true center */
}

.avatar-profile-page {
    margin-top: -77px;
    border: 2px solid white;    
}

.upload-banner-img-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #edf2f7;
    /* background: rgba(255, 255, 255, .9); */
    color: #232f46;
    border-radius: 30px;
    padding: 6px;
    padding-right: 14px;
    padding-left: 10px;
    &:hover {
        cursor: pointer;
    }
}

.upload-banner-img-box svg {
    height: 20px;
    width: 20px;
}