#root:has(.onboarding-container) {
    margin: 20px;
}

.onboarding-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.onboarding-box {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.onboarding-title {
    font-size: 2rem;
}

.onboarding-img {
    max-height: 260px;
    margin: 0 auto;
    margin-top:  auto;
}

.logo-top-nav {
    font-size: 1.4rem;
    font-weight: 800;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;;
    
}
.logo-top-nav img {
    max-height:  50px;
}
