/* this is because Chakra adds these odd blue outlines */
button:focus,
button:hover,
button:hover:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}


/* for default letter "fallback" when no pic */
.chakra-avatar {
  background: #A0AEC0 !important; 
  color: #1A202C !important; 
  font-weight: 700 !important;
}