/* this is because Chakra adds these odd blue outlines */
button:focus,
button:hover,
button:hover:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

/* for default letter "fallback" when no pic */
.chakra-avatar {
  background: #d5dce5 !important; 
  color: #1A202C !important; 
  font-weight: 700 !important;
}


/* some default button options; can set height/width on chakra */
button.btn-default {
    border-radius: 20px;
    padding: 12px;
    color: white;
    background: #232f46;
    font-size: .9rem;
    &:hover {
        background-color: #576176;
    }
}
button.btn-default.btn-lg {
    font-size: 1.1rem;
    border-radius: 30px;
    padding: 16px;
}
 button.btn-green {
    background-color: #1b8751;
    color: white;
    border-radius: 30px;    
    &:hover {
        background-color: #21ad67;
    }
}
button.minimal-toggle-btn,
button.minimal-toggle-btn:focus { /* the focus is for chakra override */
    background: white;
    font-size: .9rem;
    padding-left: 8px;
    padding-right: 8px;
    height: 34px;
    letter-spacing: -.2px;
    &:hover {
        background: inherit;
        border: 2px solid #cad3e5 !important;
    }
    border: 1px solid #cad3e5 !important; 
    border-radius: 12px;    
}
button.modal-btn-close {
    position: absolute;
    top: -40px; 
    right: -40px;    
    color: white;
    background-color: #232f46;
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

button.current-border,
 button.current-border:focus { /* the focus is for chakra override */
    border: 2px solid black !important; 
    &:hover {
        border: 2px solid black !important;
    }    
}

/* attempt at scrollable center content with "app style" fixed height */
.app-wrapper {
    height: 100vh;
    overflow: hidden;
}
.content-scroll {
    overflow-y: auto;
    scrollbar-width: none;
}   
.content-scroll::-webkit-scrollbar {
    display: none;
}

.default-border {
    border: 1px solid #cad3e5;
    border-radius: 12px;
    background: white;
    padding: 16px;        
}

/* some form defaults */
input::placeholder, textarea::placeholder {
    font-weight: 300;
    color: #232f46; 
    letter-spacing: .2px;
}
.chakra-input:focus, input:focus {
    border: 2px solid black !important;
    box-shadow: none !important;
}

.nav-link {
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: -.1px;
    &:hover {
        color: black;
    }
}

.fi-icon-thicken {
    stroke-width: 2.4 !important;
}

/* skip the blue hover default */
a:hover {
  color: inherit; 
}


/* some Clerk overrides - todo more */
.cl-formFieldInput {
    width: 100% !important;
    height: 40px !important;
}