/* this is because Chakra adds these odd blue outlines */
button:focus,
button:hover,
button:hover:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

/* for default letter "fallback" when no pic */
.chakra-avatar {
  background: #d5dce5 !important; 
  color: #1A202C !important; 
  font-weight: 700 !important;
}

button.btn-default {
    border-radius: 20px;
    padding: 12px;
    color: white;
    background: #232f46;
    font-size: .9rem;
    &:hover {
        background-color: #576176;
    }
}

 button.btn-green {
    background-color: #1b8751;
    color: white;
    border-radius: 30px;    
    &:hover {
        background-color: #21ad67;
    }
}


/* attempt at scrollable center content with "app style" fixed height */
.app-wrapper {
    height: 100vh;
    overflow: hidden;
}
.content-scroll {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}   
.content-scroll::-webkit-scrollbar {
    display: none;
}